 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 766px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 50px auto 60px -3px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 650px;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 25px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px 78px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 581px;
  background-image: url("images/ffffff.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 30px 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 536px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 479px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 265px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 367px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 500px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 315px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 767px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 33px 235px 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  width: 570px;
  margin: 33px 265px 59px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 10px));
  min-height: 526px;
  grid-gap: 20px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 48px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 48px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 48px auto 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 48px;
  width: 48px;
  margin: 48px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 135px;
    margin-right: 135px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 987px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
  }

  .u-section-2 .u-list-1 {
    margin-top: 54px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1121px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 116px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 922px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 790px;
  margin: 68px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 595px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-image-1 {
  height: 413px;
  margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
  width: 380px;
  margin: -639px 0 60px auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 805px;
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-3 .u-text-2 {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 50px 80px 0 26px;
}

.u-section-3 .u-text-3 {
  font-size: 0.875rem;
  margin: 26px 26px -53px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-3 .u-text-4 {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 50px 80px 0 26px;
}

.u-section-3 .u-text-5 {
  font-size: 0.875rem;
  margin: 26px 26px -53px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 590px;
    margin-top: 24px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 590px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    margin-top: -590px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 974px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 68px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 577px;
  }

  .u-section-3 .u-list-1 {
    width: 710px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 325px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 24px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 976px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 31px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
    margin-bottom: 31px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 6px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 6px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 6px;
    margin-left: 6px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 828px;
}

.u-section-4 .u-image-1 {
  width: 793px;
  height: 584px;
  object-position: 95.67% 50%;
  background-position: 95.67% 50%;
  margin: 0 0 0 auto;
}

.u-section-4 .u-group-1 {
  width: 508px;
  min-height: 768px;
  height: auto;
  margin: -524px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 14px;
}

.u-section-4 .u-text-1 {
  letter-spacing: normal;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 58px 32px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 14px 137px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-4 .u-image-1 {
    width: 692px;
    height: 577px;
  }

  .u-section-4 .u-group-1 {
    width: 419px;
    height: auto;
  }

  .u-section-4 .u-text-1 {
    line-height: 52.8px;
    font-family: Barlow;
    margin-top: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 63px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 857px;
  }

  .u-section-4 .u-image-1 {
    height: 241px;
    width: 288px;
    margin-top: 499px;
    margin-right: 205px;
  }

  .u-section-4 .u-group-1 {
    min-height: 325px;
    margin-top: -485px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 30px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 807px;
  }

  .u-section-4 .u-image-1 {
    height: 393px;
    width: 600px;
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-4 .u-image-1 {
    height: 134px;
    width: 217px;
    margin-top: 39px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-group-1 {
    margin-top: 7px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 800px;
}

.u-section-5 .u-image-1 {
  width: 793px;
  height: 584px;
  object-position: 95.67% 50%;
  background-position: 95.67% 50%;
  margin: 0 auto 0 -29px;
}

.u-section-5 .u-group-1 {
  width: 508px;
  min-height: 680px;
  height: auto;
  margin: -522px 0 58px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px 30px 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  line-height: 52.8px;
  letter-spacing: normal;
  font-family: Roboto, sans-serif;
  font-size: 1.875rem;
  margin: 57px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 0 0 105px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-5 .u-image-1 {
    width: 587px;
    height: 544px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -485px;
    margin-bottom: 20px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1029px;
  }

  .u-section-5 .u-image-1 {
    height: 485px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-group-1 {
    min-height: 418px;
    margin-top: 20px;
    margin-bottom: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 53px;
    margin-right: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-5 .u-image-1 {
    height: 346px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-5 .u-image-1 {
    height: 234px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-group-1 {
    min-height: 390px;
    margin-top: 11px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1120px;
}

.u-section-6 .u-shape-1 {
  background-image: none;
  height: 567px;
  width: 784px;
  margin: 186px 0 0 auto;
}

.u-section-6 .u-image-1 {
  width: 560px;
  min-height: 615px;
  background-image: url("images/a7d25ea5-f10e-d3df-2733-55a779ff3988.png");
  background-position: 50% 50%;
  margin: -318px auto 0 43px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  height: 627px;
  width: 856px;
  margin: -990px 72px 0 auto;
}

.u-section-6 .u-group-2 {
  width: 536px;
  min-height: 505px;
  height: auto;
  margin: -197px auto 60px 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 40px 47px;
}

.u-section-6 .u-text-1 {
  font-size: 3.4375rem;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  margin: 65px 13px 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 600;
  font-style: italic;
  margin: 26px 0 0 26px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-image-1 {
    width: 531px;
    min-height: 614px;
    margin-left: 72px;
  }

  .u-section-6 .u-image-2 {
    height: 559px;
    width: 727px;
    margin-top: -989px;
  }

  .u-section-6 .u-group-2 {
    margin-top: -129px;
    height: auto;
  }

  .u-section-6 .u-text-1 {
    font-family: Barlow;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1115px;
  }

  .u-section-6 .u-shape-1 {
    height: 479px;
    width: 582px;
    margin-top: 193px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -237px;
  }

  .u-section-6 .u-image-2 {
    height: 530px;
    width: 606px;
    margin-right: 48px;
  }

  .u-section-6 .u-group-2 {
    margin-top: -100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1107px;
  }

  .u-section-6 .u-shape-1 {
    height: 378px;
    width: 454px;
    margin-top: 60px;
  }

  .u-section-6 .u-image-1 {
    width: 505px;
    min-height: 545px;
    margin-top: -136px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 455px;
    width: 476px;
    margin-top: -980px;
    margin-right: auto;
    margin-left: 15px;
  }

  .u-section-6 .u-group-2 {
    width: 480px;
    min-height: 413px;
    margin-top: 35px;
    margin-bottom: -56px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 961px;
  }

  .u-section-6 .u-shape-1 {
    height: 257px;
    width: 305px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: 35px;
  }

  .u-section-6 .u-image-1 {
    width: 305px;
    min-height: 426px;
    margin-top: -15px;
    margin-right: auto;
    margin-left: 35px;
  }

  .u-section-6 .u-image-2 {
    height: 310px;
    width: 305px;
    margin-top: -861px;
    margin-left: 0;
  }

  .u-section-6 .u-group-2 {
    width: 305px;
    min-height: 446px;
    margin-top: 50px;
    margin-bottom: -88px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-7 .u-text-1 {
  margin: 53px auto 0;
}

.u-section-7 .u-list-1 {
  margin-top: 24px;
  margin-bottom: 60px;
}

.u-section-7 .u-gallery-nav-1 {
  position: absolute;
  left: 99px;
  width: 40px;
  height: 40px;
  top: 662px;
}

.u-section-7 .u-repeater-1 {
  min-height: 741px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  grid-gap: 10px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 0 19px;
}

.u-section-7 .u-image-1 {
  height: 287px;
  width: 314px;
  margin: 14px -14px 0 73px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  margin: 17px 46px 0 74px;
}

.u-section-7 .u-text-3 {
  margin: 17px -14px 0 73px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 0 19px;
}

.u-section-7 .u-image-2 {
  height: 287px;
  width: 314px;
  margin: 14px -14px 0 73px;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  margin: 17px 46px 0 74px;
}

.u-section-7 .u-text-5 {
  margin: 17px -14px 0 73px;
}

.u-section-7 .u-container-layout-3 {
  padding: 0 0 19px;
}

.u-section-7 .u-image-3 {
  height: 287px;
  width: 314px;
  margin: 14px -14px 0 73px;
}

.u-section-7 .u-text-6 {
  font-weight: 700;
  margin: 17px 46px 0 74px;
}

.u-section-7 .u-text-7 {
  margin: 17px -14px 0 73px;
}

.u-section-7 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 662px;
  right: 61px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-list-1 {
    width: 720px;
    margin-top: 7px;
    margin-right: -12px;
    margin-left: auto;
  }

  .u-section-7 .u-gallery-nav-1 {
    left: 45px;
    top: 651px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-7 .u-gallery-nav-2 {
    top: 651px;
    right: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-list-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 866px;
  }

  .u-section-7 .u-list-1 {
    width: 374px;
    margin-right: -34px;
    margin-bottom: 15px;
  }

  .u-section-7 .u-gallery-nav-1 {
    left: 21px;
    top: 569px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-7 .u-image-1 {
    margin-top: 9px;
    margin-left: 15px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 21px;
    margin-right: -24px;
    margin-left: 24px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 9px;
    margin-right: -14px;
    margin-left: 15px;
  }

  .u-section-7 .u-image-2 {
    margin-top: 9px;
    margin-left: 15px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 21px;
    margin-right: -24px;
    margin-left: 24px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-top: 9px;
    margin-right: -14px;
    margin-left: 15px;
  }

  .u-section-7 .u-image-3 {
    margin-top: 9px;
    margin-left: 15px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-top: 21px;
    margin-right: -24px;
    margin-left: 24px;
  }

  .u-section-7 .u-text-7 {
    width: auto;
    margin-top: 9px;
    margin-right: -14px;
    margin-left: 15px;
  }

  .u-section-7 .u-gallery-nav-2 {
    top: 569px;
    right: 24px;
  }
}